body {
  background: #a9af38;
}
button {
  width: 80px;
  height: 40px;
  position: relative;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
.start {
  width: 120px;
  height: 40px;
  margin: 20px auto;
  display: block;
}
.top {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 238);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
  color: rgb(36, 38, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7mm;
  outline: 2px solid rgb(36, 38, 34);
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}
.bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(229, 229, 199);
  top: 10px;
  left: 0;
  border-radius: 7mm;
  outline: 2px solid rgb(36, 38, 34);
  z-index: -1;
}
.bottom::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  background: rgb(36, 38, 34);
  bottom: 0;
  left: 15%;
}
.bottom::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  background: rgb(36, 38, 34);
  bottom: 0;
  left: 85%;
}
button:active .top {
  transform: translateY(10px);
}
button::before {
  position: absolute;
  content: "";
  width: calc(100% + 2px);
  height: 100%;
  background: rgb(140, 140, 140);
  top: 14px;
  left: -1px;
  border-radius: 7mm;
  outline: 2px solid rgb(36, 38, 34);
  z-index: -1;
}
.top::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transform: skewX(30deg);
  left: -20px;
  transition: 0.25s;
}
button:active .top::before {
  left: calc(100% + 20px);
}

.button-box {
  margin: 40px 30px;
  display: flex;
  justify-content: space-between;
}
.display {
  height: 400px;
  width: 100%;
  background-color:  #80852c;;
}
.tree {
  display: none;
}
.map {
  display: none;
}
.steps {
  padding-top: 15px;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}
.box-first {
  height: 20px;
  width: 100px;
  display: flex;
  gap: 0px;
  margin-top: 10px;
}
.box-second {
  height: 100px;
  width: 100px;
  display: flex;
  gap: 0px;
  margin-top: 10px;
}
.box-third {
  height: 100px;
  width: 100%;
}
.mark {
  height: 100%;
  min-width: 6px;
  max-width: 6px;
  font-size: 10px;
  background-color: red;
  writing-mode: vertical-lr;
  font-size: 5px;
  align-self: end;
}
.card {
  height: 80%;
  width: 95%;
  margin: 5px;
  background-color: lightblue;
}

.pole {
  height: 9.7%;
  width: 4px;
  margin: 0 auto;
  background-color: #400f04;
  position: relative;
  visibility: hidden;
  border-radius: 5px 5px 0 0;
}
.branch {
  height: 1px;
  width: 20vw;
  background-color: #6c1c0a;
  border-radius: 0 0 100% 0;
  position: absolute;
  top: 30%;
  left: 0;
}
.br-left {
  transform: rotate(195deg);
  transform-origin: top left;
}
.br-right {
  transform: rotate(-15deg);
  transform-origin: top left;
  left: 90%;
}
.hidden {
  visibility: hidden;
}
.stick {
  height: 3px;
  width: 20px;
  margin-left: 10%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transform-origin: top left;
  background-color: #733d0f;
  overflow: visible;
}
.shade {
  height: 45px;
  width: 100%;
  background-color: lightgreen;
  position: absolute;
  top: 0;
  z-index: -2;
  border-radius:50%;
  opacity: .6;
}
.leaf {
  height: 8px;
  width: 8px;
  border-radius:50%;
  opacity: 1.5;
  position: absolute;
  z-index: 2;
  background-color: #22ca2e;
}
